services:

  mongodb:
    image: mongo:latest
    container_name: mongodb_db
    restart: always
    ports:
      - "27017:27017"
    entrypoint: ["/mongo-entrypoint.sh"]
    volumes:
      - mongo_data:/data/db
      - ./mongo-keyfile:/etc/mongo-keyfile
      - ./mongo-entrypoint.sh:/mongo-entrypoint.sh
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: password

  redis:
    image: redis:latest
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  redis_data:
